Backup/ActiveProc/Web References/zulhisham-pc/lmservices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://zulhisham-tan/az_services/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://zulhisham-tan/az_services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://zulhisham-tan/az_services/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIMI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IMINo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckIMIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckIMIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AboutMe">
        <s:complexType />
      </s:element>
      <s:element name="AboutMeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AboutMeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="azWeekCode_FC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sFormat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="azWeekCode_FCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="azWeekCode_FCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="azWeekCodeEx_FC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SpecNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sFormat" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="azWeekCodeEx_FCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="azWeekCodeEx_FCResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MarkingRec" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateRecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRecordsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMarkingCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Lot_No" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MI_Spec" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RetData" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMarkingCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetMarkingCodeResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="RetData" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CheckIMISoapIn">
    <wsdl:part name="parameters" element="tns:CheckIMI" />
  </wsdl:message>
  <wsdl:message name="CheckIMISoapOut">
    <wsdl:part name="parameters" element="tns:CheckIMIResponse" />
  </wsdl:message>
  <wsdl:message name="AboutMeSoapIn">
    <wsdl:part name="parameters" element="tns:AboutMe" />
  </wsdl:message>
  <wsdl:message name="AboutMeSoapOut">
    <wsdl:part name="parameters" element="tns:AboutMeResponse" />
  </wsdl:message>
  <wsdl:message name="azWeekCode_FCSoapIn">
    <wsdl:part name="parameters" element="tns:azWeekCode_FC" />
  </wsdl:message>
  <wsdl:message name="azWeekCode_FCSoapOut">
    <wsdl:part name="parameters" element="tns:azWeekCode_FCResponse" />
  </wsdl:message>
  <wsdl:message name="azWeekCodeEx_FCSoapIn">
    <wsdl:part name="parameters" element="tns:azWeekCodeEx_FC" />
  </wsdl:message>
  <wsdl:message name="azWeekCodeEx_FCSoapOut">
    <wsdl:part name="parameters" element="tns:azWeekCodeEx_FCResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRecords" />
  </wsdl:message>
  <wsdl:message name="UpdateRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="GetMarkingCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetMarkingCode" />
  </wsdl:message>
  <wsdl:message name="GetMarkingCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetMarkingCodeResponse" />
  </wsdl:message>
  <wsdl:portType name="az_ServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns 'Hello World'... </wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckIMI">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns TRUE/FALSE on detecting the spec. file path... </wsdl:documentation>
      <wsdl:input message="tns:CheckIMISoapIn" />
      <wsdl:output message="tns:CheckIMISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AboutMe">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns the information about this services... </wsdl:documentation>
      <wsdl:input message="tns:AboutMeSoapIn" />
      <wsdl:output message="tns:AboutMeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="azWeekCode_FC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return A Week Code</wsdl:documentation>
      <wsdl:input message="tns:azWeekCode_FCSoapIn" />
      <wsdl:output message="tns:azWeekCode_FCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="azWeekCodeEx_FC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Return A Week Code For FC Package (Extended Version)</wsdl:documentation>
      <wsdl:input message="tns:azWeekCodeEx_FCSoapIn" />
      <wsdl:output message="tns:azWeekCodeEx_FCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecords">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Save Marking Records into SQL Server... </wsdl:documentation>
      <wsdl:input message="tns:UpdateRecordsSoapIn" />
      <wsdl:output message="tns:UpdateRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMarkingCode">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns ETMY Marking Code.</wsdl:documentation>
      <wsdl:input message="tns:GetMarkingCodeSoapIn" />
      <wsdl:output message="tns:GetMarkingCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="az_ServicesSoap" type="tns:az_ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://zulhisham-tan/az_services/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIMI">
      <soap:operation soapAction="http://zulhisham-tan/az_services/CheckIMI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AboutMe">
      <soap:operation soapAction="http://zulhisham-tan/az_services/AboutMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="azWeekCode_FC">
      <soap:operation soapAction="http://zulhisham-tan/az_services/azWeekCode_FC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="azWeekCodeEx_FC">
      <soap:operation soapAction="http://zulhisham-tan/az_services/azWeekCodeEx_FC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecords">
      <soap:operation soapAction="http://zulhisham-tan/az_services/UpdateRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarkingCode">
      <soap:operation soapAction="http://zulhisham-tan/az_services/GetMarkingCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="az_ServicesSoap12" type="tns:az_ServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://zulhisham-tan/az_services/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIMI">
      <soap12:operation soapAction="http://zulhisham-tan/az_services/CheckIMI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AboutMe">
      <soap12:operation soapAction="http://zulhisham-tan/az_services/AboutMe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="azWeekCode_FC">
      <soap12:operation soapAction="http://zulhisham-tan/az_services/azWeekCode_FC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="azWeekCodeEx_FC">
      <soap12:operation soapAction="http://zulhisham-tan/az_services/azWeekCodeEx_FC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecords">
      <soap12:operation soapAction="http://zulhisham-tan/az_services/UpdateRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarkingCode">
      <soap12:operation soapAction="http://zulhisham-tan/az_services/GetMarkingCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="az_Services">
    <wsdl:port name="az_ServicesSoap" binding="tns:az_ServicesSoap">
      <soap:address location="http://172.16.59.254/az_services/lmservices.asmx" />
    </wsdl:port>
    <wsdl:port name="az_ServicesSoap12" binding="tns:az_ServicesSoap12">
      <soap12:address location="http://172.16.59.254/az_services/lmservices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>